<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h1></h1>
    </div>
</div>

<p>&nbsp;</p>
<center style="width:100%; text-size-adjust:100%">


    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>BẠN ĐÃ ĐẶT HÀNG THÀNH CÔNG</h1>
            <p>Cám ơn Quý khách đã mua sắm tại. Đơn hàng của Quý khách đang được xử lý. Mã số đơn hàng của Quý khách là:</p>
            <div class="p-4 w-auto" style="background-color: red;color: #fff;display: inline-block;padding: 15px;font-size: 2em;">
                0168-20221012
            </div>
            <p>Nhân viên của chúng tôi sẽ sớm liên hệ với Quý khách trong thời gian sớm nhất.
                <br>
                Nếu Quý khách hàng có thắc mắc, xin vui lòng liên hệ với chúng tôi qua số hotline (0252)36 88888
            </p>

        </div>
    </div>



<table border="0" cellpadding="0" style="border-collapse: collapse" width="750" id="table4">
    <tbody><tr>
        <td><table border="0" cellpadding="0" style="border-collapse: collapse" width="100%" id="table5">
            <tbody><tr>
                <td align="center"><img border="0" src="images/logo.gif" width="113"><br></td>
                <td align="center" valign="top"><b>
                    <p style="line-height:27px; "><span style="font-size:21px; font-weight:bold ; ">CÔNG TY TNHH COLORINK</span><br>
                        <b><span style="font-size: 17px ; word-spacing:1px; font-weight:bold; ">Trụ sở 101/2 Bắc Hải, Phường 15, Quận 10, Thành phố Hồ Chí Minh</span><br>
                        </b><span style="font-size:14px; font-weight:bold ;">Điện thoại: 08 49696060 </span><br>

                    </p></b></td>
            </tr>
            </tbody></table>
            <hr>
            <div style="text-align:right; padding-right:20px;  "></div>
            <table border="0" cellpadding="0" style="border-collapse: collapse" width="100%" id="table6">
                <tbody><tr>
                    <td><p align="center"><font size="5"><b>BẢNG BÁO GIÁ</b></font>
                        <br>
                        <br>
                    </p></td>
                </tr>
                </tbody></table>
            <br>
            <p><span style="font-size: 13px"><strong>Công ty TNHH Colorink xin gửi
                tới Quý Khách Hàng báo giá sản phẩm của chúng tôi: </strong></span><br>
                <br>

            <table border="1" cellpadding="5" style="border-collapse: collapse" width="100%" id="table8">
                <tbody><tr>
                    <td align="center" width="150"><b>Tên hàng</b>
                    </td><td align="center"><b>Thông tin chi tiết</b></td>
                    <td align="center"><b>Đơn giá</b></td>
                </tr>
                <tr>
                    <td align="center"><font style="font-size: 13px">


                        <img src="${productavatar}" border="0" width="200" height="200" align="left" hspace="20px">

                        <br>
                        ${productname}</font></td>
                    <td>
                        ${description}
                    </td>
                    <td align="center"><font style="font-size: 13px">${amount}</font></td>
                </tr>
                </tbody></table>
            <br>
            </p><p><b><span style="font-size: 13px">Ghi chú:</span></b><span style="font-size: 13px"> <br>
</span></p>
            <p><span style="font-size: 13px">- Hình ảnh có thể không hoàn toàn chính xác với hình ảnh thực tế của sản phẩm.<br>
<br>
<b>Giao hàng:</b><br>
- Trong nội thành trong vòng 2-6 tiếng trong giờ hành chính đối với các mặt hàng có sẵn, trừ trường hợp đối với hàng phải đặt hàng.<br>
- Ngoài ra hàng hóa tới từng địa phương phụ thuộc vào thời gian vận chuyển hàng hóa từ kho hàng gần nhất tới nơi nhận hàng.<br>
<br>
<b>Phương thức thanh toán:</b> Tiền mặt hoặc chuyển khoản ngay sau khi giao hàng.<br>
<br>
<b>Thông tin liên hệ<br>
</b>Trụ sở chính :&nbsp;101/2&nbsp;Bắc Hải, Phường 15, Quận 10. TpHCM<br>
Điện thoại : 0849696060 -&nbsp;0913718503. HotLine: 0849690909<br>
Fax : 028.22430660<br>
Email : anhlong@anhlong.vn<br>
Website : <a href="http://www.colorink.vn">www.colorink.vn</a>&nbsp; <br>
Skype: congtyanhlong - Viber/Zalo: 0913718503</span></p>
            <p><span style="font-size: 13px"><br>
<b>Chúng tôi cam kết</b><br>
Giao hàng trong 6 quận nội thành Tp.HCM trong khoảng thời gian tối đa 6h làm việc.<br>
Hàng hóa mới 100% với thời gian bảo hành đầy đủ theo tiêu chuẩn của nhà sản xuất.<br>
Tất cả các hàng hóa được cung cấp qua <a href="http://www.anhLong.vn">www.anhLong.vn</a> đều có xuất xứ hàng hóa, nhãn mác rõ ràng.<br>
Hàng hóa do www.anhLong.vn cung cấp sẽ có hợp đồng hay đơn đặt hàng của bên mua để thực hiện quyền lợi các bên.<br>
</span></p></td>
    </tr>
    </tbody></table>
</center>

<center style="width:100%; background-color:#e7e7e7; text-size-adjust:100%">
    <div class="email-container" style="max-width:800px">&nbsp;
        <table role="presentation" style="border-spacing:10px !important; border-collapse:collapse !important; table-layout:fixed !important; text-size-adjust:100%; border:1px solid #ccc;" width="100%">
            <tbody style="text-size-adjust:100%">
            <tr style="text-size-adjust:100%">
                <td style="background-color:#ffffff">&nbsp;
                    <table border="0" cellpadding="0" style="border-collapse: collapse" width="100%" id="table5">
                        <tbody><tr>
                            <td align="center"><img border="0" src="https://colorink.vn/files/sites/193/logo-colorink.jpg" width="113"><br></td>
                            <td align="center" valign="top"><b>
                                <p style="line-height:27px; "><span style="font-size:21px; font-weight:bold ; ">CÔNG TY TNHH Colorink</span><br>
                                    <b><span style="font-size: 17px ; word-spacing:1px; font-weight:bold; ">Trụ sở 101/2 Bắc Hải, Phường 15, Quận 10, Thành phố Hồ Chí Minh</span><br>
                                    </b><span style="font-size:14px; font-weight:bold ;">Điện thoại: (08)49696060 Fax: (08)49696060</span><br>
                                    <span style="font-size: 14px ; font-weight:bold; word-spacing:6px;  ">SỐ TÀI KHOẢN : 63679029 - Tại Ngân Hàng ACB  - CHI NHÁNH HÒA HƯNG 2</span></p></b></td>
                        </tr>
                        </tbody></table>

                </td>
            </tr>

            <tr style="text-size-adjust:100%">
                <td style="text-align:center; background-color:#1c5147; background-position:center center !important; background-size:cover !important">
                    <div>
                        <table role="presentation" style=" border-spacing:0px !important; border-collapse:collapse !important; table-layout:fixed !important; text-size-adjust:100%; border:undefined" width="100%">
                            <tbody style="text-size-adjust:100%">
                            <tr style="text-size-adjust:100%">
                                <td style="text-align:left; padding:10px 20px; line-height:20px">
                                    <h1 style="text-align: center;"><span style="text-size-adjust:100%"><span
                                            style="text-size-adjust:100%"><span style="text-size-adjust:100%"><span
                                            style="font-size:15px"><span style="font-family:sans-serif"><span
                                            style="color:#ffffff"><span style="text-size-adjust:100%"><span
                                            style="font-size:18px"><span style="line-height:20px"><span
                                            style="color:#ffffff"><span style="font-weight:bold"><span
                                            style="text-size-adjust:100%">BẢNG B&Aacute;O GI&Aacute;&nbsp;SẢN PHẨM</span></span></span></span></span></span></span></span></span></span></span></span>
                                    </h1>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr style="text-size-adjust:100%">
                <td style="background-color:#ffffff">&nbsp;
                    <table role="presentation" style="border-spacing:0px !important; border-collapse:collapse !important; table-layout:fixed !important; text-size-adjust:100%; border:undefined" width="100%">
                        <tbody style="text-size-adjust:100%">
                        <tr style="text-size-adjust:100%">
                            <td style="padding:20px; line-height:20px; padding-bottom: 0px;">
                                <p style="margin-bottom:10px">C&ocirc;ng ty TNHH Colorink xin gửi tới Qu&yacute; Kh&aacute;ch
                                    H&agrave;ng b&aacute;o gi&aacute; sản phẩm của ch&uacute;ng t&ocirc;i.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr style="text-size-adjust:100%">
                <td style="text-align:center; background-color:#ffffff; background-position:center center !important; background-size:cover !important">
                    <table role="presentation" style="border-spacing:0px !important; border-collapse:collapse !important; table-layout:fixed !important; text-size-adjust:100%; border:undefined" width="100%">
                        <tbody style="text-size-adjust:100%">
                        <tr style="text-size-adjust:100%">
                            <td style="text-align:left; padding:10px 20px; line-height:20px">


                                <table style="border-spacing:10px !important; border-collapse:collapse !important; table-layout:fixed !important; text-size-adjust:100%; border:undefined">

                                    <tbody style="text-size-adjust:100%">
                                    <tr style="text-size-adjust:100%">
                                        <td>
                                            <p>
                                            <table style="border-spacing:10px !important; border-collapse:collapse !important;  text-size-adjust:100%; border:1px solid;" width="100%">
                                                <thead>
                                                <tr style="border: 1px solid;">
                                                    <th style="border: 1px solid;">Tên hàng</th>
                                                    <th style="border: 1px solid;">Thông tin chi tiết</th>
                                                    <th style="border: 1px solid;">Đơn giá</th>
                                                </tr>
                                                </thead>
                                                <tbody style="text-size-adjust:100%">
                                                <tr style="text-size-adjust:100%;border: 1px solid;">
                                                    <td style="border: 1px solid;">
                                                        <img src="${productavatar}" alt="" style="max-width: 200px;">
                                                        </br>
                                                        ${productname}
                                                    </td>
                                                    <td style="border: 1px solid; width: 60%;">
                                                        ${description}
                                                    </td>
                                                    <td style="border: 1px solid; width: 10%;">
                                                        ${amount}
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height:auto">&nbsp;
                                            <hr style="text-size-adjust:100%" /></td>
                                    </tr>

                                    <tr style="text-size-adjust:100%">
                                        <td>
                                            <p><strong>Quy định thanh to&aacute;n:</strong></p>

                                            <p>- SỐ T&Agrave;I KHOẢN : 63679029 /&nbsp;Tại Ng&acirc;n H&agrave;ng ACB / CHI NH&Aacute;NH H&Ograve;A HƯNG 29</p>

                                            <p>&nbsp;</p>

                                            <div style="background:#eeeeee;border:1px solid #cccccc;padding:5px 10px;"><strong><span style="color: var(--x-body-color); font-family: var(--x-body-font-family); font-size: var(--x-body-font-size); font-weight: var(--x-body-font-weight);">Ghi ch&uacute;:</span></strong>

                                                <p>- H&igrave;nh ảnh c&oacute; thể kh&ocirc;ng ho&agrave;n to&agrave;n ch&iacute;nh x&aacute;c với h&igrave;nh ảnh thực tế của sản phẩm.<br />
                                                    Giao h&agrave;ng:<br />
                                                    - Trong nội th&agrave;nh trong v&ograve;ng 2-6 tiếng trong giờ h&agrave;nh ch&iacute;nh đối với c&aacute;c mặt h&agrave;ng c&oacute; sẵn, trừ trường hợp đối với h&agrave;ng phải đặt<br />
                                                    h&agrave;ng.<br />
                                                    - Ngo&agrave;i ra h&agrave;ng h&oacute;a tới từng địa phương phụ thuộc v&agrave;o thời gian vận chuyển h&agrave;ng h&oacute;a từ kho h&agrave;ng gần nhất tới nơi nhận h&agrave;ng.<br />
                                                    Phương thức thanh to&aacute;n: Tiền mặt hoặc chuyển khoản ngay sau khi giao h&agrave;ng.<br />
                                                    &nbsp;</p>

                                                <p><strong>Ch&uacute;ng t&ocirc;i cam kết</strong><br />
                                                    Giao h&agrave;ng trong 6 quận nội th&agrave;nh Tp.HCM trong khoảng thời gian tối đa 6h l&agrave;m việc.<br />
                                                    H&agrave;ng h&oacute;a mới 100% với thời gian bảo h&agrave;nh đầy đủ theo ti&ecirc;u chuẩn của nh&agrave; sản xuất.<br />
                                                    Tất cả c&aacute;c h&agrave;ng h&oacute;a được cung cấp qua colorink.vn đều c&oacute; xuất xứ h&agrave;ng h&oacute;a, nh&atilde;n m&aacute;c r&otilde; r&agrave;ng.<br />
                                                    H&agrave;ng h&oacute;a do colorink.vn cung cấp sẽ c&oacute; hợp đồng hay đơn đặt h&agrave;ng của b&ecirc;n mua để thực hiện quyền lợi c&aacute;c b&ecirc;n.</p>
                                            </div>

                                            <p>&nbsp;</p>

                                            <p><font color="#000000"><font face="sans-serif"><span style="font-size:15px">C&aacute;m ơn&nbsp;bạn ủng hộ Colorink !</span></font></font></p>

                                            <p>Trụ sở ch&iacute;nh : 101/2 Bắc Hải, Phường 15, Quận 10. TpHCM<br />
                                                Điện thoại : 0849696060 - 0913718503. HotLine: 0849690909<br />
                                                Fax : 028.22430660<br />
                                                Email : anhlong@anhlong.vn<br />
                                                Website : www.colorink.vn<br />
                                                <font color="#000000"><font face="sans-serif"><span style="font-size:15px">&nbsp;</span></font></font></p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</center>

</body>
</html>

