<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-lazy-init="true">

    <!-- =================================================================== -->
    <!-- AOP: Configuration and Aspects                                      -->
    <!-- =================================================================== -->
    <aop:config>
        <aop:advisor id="userManagerTx" advice-ref="userManagerTxAdvice"
                     pointcut="execution(* *..service.UserService.*(..))" order="0"/>
        <aop:advisor id="managerSaveTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.save*(..))"
                     order="2"/>
        <aop:advisor id="managerAddTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.add*(..))"
                     order="2"/>
        <aop:advisor id="managerUpdateTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.update*(..))"
                     order="2"/>
        <aop:advisor id="managerDeleteTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.delete*(..))"
                     order="2"/>
        <aop:advisor id="managerImportTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Service.import*(..))"
                     order="2"/>
    </aop:config>

    <!-- enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Enable @AspectJ support -->
    <aop:aspectj-autoproxy/>

    <bean id="emailMessageService" class="com.trt.travel.core.service.EmailMessageServiceImpl">
        <property name="emailMessageDAO" ref="emailMessageDAO"/>
    </bean>
    <bean id="emailSettingsService" class="com.trt.travel.core.service.EmailSettingsServiceImpl">
        <property name="emailSettingsDAO" ref="emailSettingsDAO"/>
    </bean>
    <bean id="sitePageService" class="com.trt.travel.core.service.SitePageServiceImpl">
        <property name="sitePageDAO" ref="sitePageDAO"/>
        <property name="pageCategoryDAO" ref="pageCategoryDAO"/>
    </bean>
    <bean id="themeService" class="com.trt.travel.core.service.ThemeServiceImpl">
        <property name="themeDAO" ref="themeDAO"/>
    </bean>
    <bean id="userService" class="com.trt.travel.core.service.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
        <property name="rolesDAO" ref="rolesDAO"/>
    </bean>
    <bean id="destinationService" class="com.trt.travel.core.service.DestinationServiceImpl">
        <property name="destinationDAO" ref="destinationDAO"/>
    </bean>
    <bean id="countryService" class="com.trt.travel.core.service.CountryServiceImpl">
        <property name="countryDAO" ref="countryDAO"/>
    </bean>
    <bean id="stateService" class="com.trt.travel.core.service.StateServiceImpl">
        <property name="stateDAO" ref="stateDAO"/>
    </bean>
    <bean id="cityService" class="com.trt.travel.core.service.CityServiceImpl">
        <property name="cityDAO" ref="cityDAO"/>
    </bean>
    <bean id="albumService" class="com.trt.travel.core.service.AlbumServiceImpl">
        <property name="albumDAO" ref="albumDAO"/>
        <property name="albumitemDAO" ref="albumitemDAO"/>
    </bean>
    <bean id="customerService" class="com.trt.travel.core.service.CustomerServiceImpl">
        <property name="customerDAO" ref="customerDAO"/>
    </bean>
    <bean id="currencyService" class="com.trt.travel.core.service.CurrencyServiceImpl">
        <property name="currencyDAO" ref="currencyDAO"/>
    </bean>
    <bean id="agentService" class="com.trt.travel.core.service.AgentServiceImpl">
        <property name="agentDAO" ref="agentDAO"/>
        <property name="agentUserDAO" ref="agentUserDAO"/>
        <property name="userDAO" ref="userDAO"/>
        <property name="siteDAO" ref="siteDAO"/>
        <property name="companyDAO" ref="companyDAO"/>

    </bean>
    <bean id="agentUserService" class="com.trt.travel.core.service.AgentUserServiceImpl">
        <property name="agentUserDAO" ref="agentUserDAO"/>
        <property name="userDAO" ref="userDAO"/>
        <property name="companyDAO" ref="companyDAO"/>
    </bean>
    <bean id="siteService" class="com.trt.travel.core.service.SiteServiceImpl">
        <property name="siteDAO" ref="siteDAO"/>
        <property name="sitePageDAO" ref="sitePageDAO"/>
    </bean>
    <bean id="companyService" class="com.trt.travel.core.service.CompanyServiceImpl">
        <property name="companyDAO" ref="companyDAO"/>
    </bean>
    <bean id="newsService" class="com.trt.travel.core.service.NewsServiceImpl">
        <property name="newsDAO" ref="newsDAO"/>
    </bean>
    <bean id="emailTemplateService" class="com.trt.travel.core.service.EmailTemplateServiceImpl">
        <property name="emailTemplateDAO" ref="emailTemplateDAO"/>
    </bean>
    <bean id="lastestRateService" class="com.trt.travel.core.service.LastestRateServiceImpl">
        <property name="lastestRateDAO" ref="lastestRateDAO"/>
    </bean>
    <bean id="blogCommentService" class="com.trt.travel.core.service.BlogCommentServiceImpl">
        <property name="blogCommentDAO" ref="blogCommentDAO"/>
    </bean>
    <bean id="usagetrackingService" class="com.trt.travel.core.service.UsagetrackingServiceImpl">
        <property name="usagetrackingDAO" ref="usagetrackingDAO"/>
    </bean>
    <bean id="categoryService" class="com.trt.travel.core.service.CategoryServiceImpl">
        <property name="categoryDAO" ref="categoryDAO"/>
    </bean>
    <bean id="newsCategoryService" class="com.trt.travel.core.service.NewsCategoryServiceImpl">
        <property name="newsCategoryDAO" ref="newsCategoryDAO"/>
    </bean>
    <bean id="customerorderService" class="com.trt.travel.core.service.CustomerorderServiceImpl">
        <property name="customerDAO" ref="customerDAO"/>
        <property name="customerorderDAO" ref="customerorderDAO"/>
        <property name="customerorderitemDAO" ref="customerorderitemDAO"/>
        <property name="licenseDAO" ref="licenseDAO"/>
        <property name="productDAO" ref="productDAO"/>
    </bean>
    <bean id="agentPaymentMethodService" class="com.trt.travel.core.service.AgentPaymentMethodServiceImpl">
        <property name="agentPaymentMethodDAO" ref="agentPaymentMethodDAO"/>
    </bean>
    <bean id="userSubscribeService" class="com.trt.travel.core.service.UserSubscribeServiceImpl">
        <property name="userSubscribeDAO" ref="userSubscribeDAO"/>
    </bean>
    <bean id="unitService" class="com.trt.travel.core.service.UnitServiceImpl">
        <property name="unitDAO" ref="unitDAO"/>
    </bean>
    <bean id="manufacturerService" class="com.trt.travel.core.service.ManufacturerServiceImpl">
        <property name="manufacturerDAO" ref="manufacturerDAO"/>
    </bean>
    <bean id="productService" class="com.trt.travel.core.service.ProductServiceImpl">
        <property name="productDAO" ref="productDAO"/>
        <property name="producttrackingDAO" ref="producttrackingDAO"/>
        <property name="productpriceDAO" ref="productpriceDAO"/>
        <property name="materialDAO" ref="materialDAO"/>
        <property name="materialinputDAO" ref="materialinputDAO"/>
        <property name="materialproductDAO" ref="materialproductDAO"/>
    </bean>
    <bean id="branchService" class="com.trt.travel.core.service.BranchServiceImpl">
        <property name="branchDAO" ref="branchDAO"/>
    </bean>
    <bean id="productcalendarService" class="com.trt.travel.core.service.ProductcalendarServiceImpl">
        <property name="productcalendarDAO" ref="productcalendarDAO"/>
        <property name="productsessionDAO" ref="productsessionDAO"/>
    </bean>
    <bean id="leadService" class="com.trt.travel.core.service.LeadServiceImpl">
        <property name="leadDAO" ref="leadDAO"/>
    </bean>
    <bean id="licenseService" class="com.trt.travel.core.service.LicenseServiceImpl">
        <property name="licenseDAO" ref="licenseDAO"/>
    </bean>
    <bean id="promotionService" class="com.trt.travel.core.service.PromotionServiceImpl">
        <property name="promotionDAO" ref="promotionDAO"/>
        <property name="promotiontypeDAO" ref="promotiontypeDAO"/>
        <property name="promotionitemDAO" ref="promotionitemDAO"/>
    </bean>
    <bean id="productfeatureService" class="com.trt.travel.core.service.ProductfeatureServiceImpl">
        <property name="productfeatureDAO" ref="productfeatureDAO"/>
    </bean>
    <bean id="wardService" class="com.trt.travel.core.service.WardServiceImpl">
        <property name="wardDAO" ref="wardDAO"/>
    </bean>
    <bean id="shippingfeeService" class="com.trt.travel.core.service.ShippingfeeServiceImpl">
        <property name="shippingfeeDAO" ref="shippingfeeDAO"/>
    </bean>
    <bean id="apisiteService" class="com.trt.travel.core.service.ApisiteServiceImpl">
        <property name="apisiteDAO" ref="apisiteDAO"/>
    </bean>
    <bean id="apiproductService" class="com.trt.travel.core.service.ApiproductServiceImpl">
        <property name="apiproductDAO" ref="apiproductDAO"/>
    </bean>
    <bean id="remotebookingService" class="com.trt.travel.core.service.RemotebookingServiceImpl">
        <property name="remotebookingDAO" ref="remotebookingDAO"/>
    </bean>
    <bean id="accountbalanceService" class="com.trt.travel.core.balance.AccountbalanceServiceImpl">
        <property name="accountbalanceDAO" ref="accountbalanceDAO"/>
        <property name="accounttransactionDAO" ref="accounttransactionDAO"/>
        <property name="accounttrackingDAO" ref="accounttrackingDAO"/>
    </bean>
    <bean id="loyaltydataService" class="com.trt.travel.core.service.LoyaltydataServiceImpl">
        <property name="loyaltydataDAO" ref="loyaltydataDAO"/>
    </bean>

    <bean id="materialService" class="com.trt.travel.core.service.MaterialServiceImpl">
        <property name="materialDAO" ref="materialDAO"/>
    </bean>
    <bean id="materialproductService" class="com.trt.travel.core.service.MaterialproductServiceImpl">
        <property name="materialproductDAO" ref="materialproductDAO"/>
    </bean>
    <bean id="materialinputService" class="com.trt.travel.core.service.MaterialinputServiceImpl">
        <property name="materialinputDAO" ref="materialinputDAO"/>
    </bean>
    <bean id="materialOutputService" class="com.trt.travel.core.service.MaterialOutputServiceImpl">
        <property name="materialOutputDAO" ref="materialOutputDAO"/>
    </bean>
    <bean id="affiliateService" class="com.trt.travel.core.service.AffiliateServiceImpl">
        <property name="affiliateDAO" ref="affiliateDAO"/>
    </bean>
    <bean id="sizeService" class="com.trt.travel.core.service.SizeServiceImpl">
        <property name="sizeDAO" ref="sizeDAO"/>
    </bean>
    <bean id="colorService" class="com.trt.travel.core.service.ColorServiceImpl">
        <property name="colorDAO" ref="colorDAO"/>
    </bean>
    <bean id="commentService" class="com.trt.travel.core.service.CommentServiceImpl">
        <property name="commentDAO" ref="commentDAO"/>
        <property name="comroomDAO" ref="comroomDAO"/>
        <property name="mycomroomDAO" ref="mycomroomDAO"/>
    </bean>
    <tx:advice id="txAdvice">
        <tx:attributes>
            <!-- Read-only commented out to make things easier for end-agency -->
            <!-- http://issues.appfuse.org/browse/APF-556 -->
            <!--tx:method name="get*" read-only="true"/-->
            <tx:method name="*" rollback-for="com.trt.travel.core.exception.DuplicateException"/>
        </tx:attributes>
    </tx:advice>

    <tx:advice id="userManagerTxAdvice">
        <tx:attributes>
            <tx:method name="save*" rollback-for="UserExistsException"/>
        </tx:attributes>
    </tx:advice>
    <bean id="userSecurityAdvice" class="com.trt.travel.security.MyUserDetailsService">
        <property name="userDAO" ref="userDAO"/>
        <property name="rolesDAO" ref="rolesDAO"/>
    </bean>
</beans>
