.form-control::-webkit-input-placeholder,
.form-control:-moz-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder {
    color: #ced4d7;
}
.form-control:focus {
    border-color: #e7b315;
    box-shadow: none;
}
.sending-loader {
    display: none;
}
.sending-loader.show {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 1rem);
    width: calc(100% - 1rem);
    display: block;
    background-color: #eeeeee;
    z-index: 2000;
}
.sending-loader .sending-loader-content {
    margin-top: 20%;
    margin-left: 30%;
    font-size: 36px;
    color: #ff901f;
    z-index: 2001;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: flex-start !important;
}
